# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.1.0'
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
-   repo: https://github.com/psf/black
    rev: '22.3.0'
    hooks:
    -   id: black
-   repo: https://github.com/myint/autoflake
    rev: 'v1.4'
    hooks:
    -   id: autoflake
        args: ["--in-place", "--remove-unused-variables", "--remove-all-unused-imports"]
-   repo: https://github.com/pycqa/isort
    rev: '5.10.1'
    hooks:
    -   id: isort
        name: isort (python)
