h1,
h2,
h3,
h4,
span {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--secondary-blue) !important;
}

.main-content a:visited {
  color: var(--light-orange) !important;
}

.main-content a:hover {
  color: var(--hover-orange) !important;
  text-decoration: underline;
}

.wy-side-nav-search a:visited {
  color: white !important;
}

h1 {
  font-size: 48px;
  line-height: inherit;
  margin: 40px 0;
}

h2 {
  font-size: 32px;
  line-height: 1.2em;
  margin-top: 40px;
}

.wy-grid-for-nav {
  display: grid;
  grid-template-columns: 300px 900px 300px;
  justify-content: center;
}

.wy-nav-content-wrap {
  background: #fcfcfc;
}

@media screen and (max-width: 768px) {
  .wy-nav-content-wrap {
    margin-left: 0;
  }
}
.wy-nav-top {
  background: transparent;
  color: var(--primary-blue);
}

.wy-nav-side {
  position: sticky;
  top: 0;
  background: inherit;
}

.wy-nav-content {
  max-width: 1200px;
  padding: 20px;
  height: auto;
}
.wy-nav-content-wrap {
  margin-left: 0;
}

.wy-side-scroll {
  height: auto;
}
.wy-side-scroll ul:last-child {
  margin-bottom: 60px;
}

.wy-side-nav-search {
  background-color: var(--primary-blue);
  margin-bottom: 0;
  position: fixed;
  padding: 0 10px 10px 10px;
  top: 0;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .wy-nav-side.shift {
    width: 244px;
  }
  .wy-nav-content-wrap.shift {
    margin-left: 244px;
  }
}
.wy-menu-vertical {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  position: fixed;
  top: 100px;
}

.wy-menu-vertical p.caption {
  color: var(--primary-blue);
}

.wy-menu-vertical a {
  color: var(--text-blue);
}

.wy-menu-vertical li.current > a {
  color: var(--primary-orange);
}

.wy-menu-vertical li.toctree-l2 a,
.wy-menu-vertical li.toctree-l2.current > a {
  background: rgb(245, 245, 245);
}

.wy-menu-vertical li.toctree-l3 a,
.wy-menu-vertical li.toctree-l3.current > a {
  background: rgb(235, 235, 235);
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
  background: rgb(230, 230, 230);
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
  background: rgb(220, 220, 220);
}

.rst-content {
  max-width: 900px;
  padding: 0 50px;
}

/* code blocks */
.rst-content section ul {
  line-height: auto;
}

.rst-content section ul li {
  list-style: none;
}

ul.simple li p {
  line-height: 40px;
}
ul.simple li code {
  border: none;
  width: max-content;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
  font-size: 13px;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 8px;
  background: #292d3e;
}
ul.simple li code.literal {
  color: var(--aqua);
}

code.docutils.literal.notranslate {
  border: none;
  width: max-content;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
  font-size: 13px;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 8px;
  background: #292d3e;
  display: inline-flex;
  line-height: 1;
}
code.docutils.literal.notranslate.literal {
  color: var(--aqua);
}

.rst-content div.highlight-nginx,
.rst-content div.highlight-default,
.rst-content div.highlight-bash,
.rst-content div.highlight-php {
  border: none;
}
.rst-content div.highlight-nginx .highlight,
.rst-content div.highlight-default .highlight,
.rst-content div.highlight-bash .highlight,
.rst-content div.highlight-php .highlight {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  line-height: 24px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #292d3e;
  color: var(--aqua);
}
.rst-content div.highlight-nginx .highlight .c1,
.rst-content div.highlight-default .highlight .c1,
.rst-content div.highlight-bash .highlight .c1,
.rst-content div.highlight-php .highlight .c1 {
  color: var(--message-warning);
}
.rst-content div.highlight-nginx .highlight .mi,
.rst-content div.highlight-nginx .highlight .o,
.rst-content div.highlight-nginx .highlight .mf,
.rst-content div.highlight-default .highlight .mi,
.rst-content div.highlight-default .highlight .o,
.rst-content div.highlight-default .highlight .mf,
.rst-content div.highlight-bash .highlight .mi,
.rst-content div.highlight-bash .highlight .o,
.rst-content div.highlight-bash .highlight .mf,
.rst-content div.highlight-php .highlight .mi,
.rst-content div.highlight-php .highlight .o,
.rst-content div.highlight-php .highlight .mf {
  color: #e4e4e4;
}
.rst-content div.highlight-nginx .highlight .s,
.rst-content div.highlight-nginx .highlight .n,
.rst-content div.highlight-nginx .highlight .nb,
.rst-content div.highlight-nginx .highlight .s1,
.rst-content div.highlight-nginx .highlight .p,
.rst-content div.highlight-default .highlight .s,
.rst-content div.highlight-default .highlight .n,
.rst-content div.highlight-default .highlight .nb,
.rst-content div.highlight-default .highlight .s1,
.rst-content div.highlight-default .highlight .p,
.rst-content div.highlight-bash .highlight .s,
.rst-content div.highlight-bash .highlight .n,
.rst-content div.highlight-bash .highlight .nb,
.rst-content div.highlight-bash .highlight .s1,
.rst-content div.highlight-bash .highlight .p,
.rst-content div.highlight-php .highlight .s,
.rst-content div.highlight-php .highlight .n,
.rst-content div.highlight-php .highlight .nb,
.rst-content div.highlight-php .highlight .s1,
.rst-content div.highlight-php .highlight .p {
  color: var(--aqua);
}
.rst-content div.highlight-nginx .highlight .k,
.rst-content div.highlight-nginx .highlight .nv,
.rst-content div.highlight-nginx .highlight .m,
.rst-content div.highlight-default .highlight .k,
.rst-content div.highlight-default .highlight .nv,
.rst-content div.highlight-default .highlight .m,
.rst-content div.highlight-bash .highlight .k,
.rst-content div.highlight-bash .highlight .nv,
.rst-content div.highlight-bash .highlight .m,
.rst-content div.highlight-php .highlight .k,
.rst-content div.highlight-php .highlight .nv,
.rst-content div.highlight-php .highlight .m {
  color: #D9E7F3;
}

.rst-content div.highlight pre {
  font-size: 14px;
}

.rst-content div.highlight-bash {
  color: var(--aqua);
}

/* code blocks end */
/* buttons next previous */
.btn,
.btn-neutral {
  background: none;
  border: none;
  font-weight: 600;
  color: var(--primary-orange) !important;
}
.btn .fa,
.btn-neutral .fa {
  display: none;
}
.btn:visited,
.btn-neutral:visited {
  color: var(--primary-orange) !important;
}

/* buttons next previous end */
/* scrollbar */
.wy-menu {
  /* scrollbar end */
  /* sidebar */
}
.wy-menu::-webkit-scrollbar {
  width: 5px;
}
.wy-menu::-webkit-scrollbar-thumb {
  background-color: var(--primary-blue);
  border-radius: 3px;
  background-clip: content-box;
}
.wy-menu li.toctree-l1.current > a {
  border-bottom: 0;
  border-top: 0;
}
.wy-menu li.current, .wy-menu li.toctree-l2, .wy-menu li.toctree-l2 a, .wy-menu li.toctree-l2.current, .wy-menu li.toctree-l2.current li.toctree-l3, .wy-menu li.toctree-l3.current li.toctree-l4, .wy-menu li.toctree-l3.current li.toctree-l4 > a, .wy-menu li.toctree-l2.current li.toctree-l3 > a {
  background: inherit;
}
.wy-menu li.current > a, .wy-menu li.toctree-l2.current a, .wy-menu li.toctree-l3.current li.toctree-l4.current > a, .wy-menu li.toctree-l2.current li.toctree-l3.current > a {
  background: #fff;
}
.wy-menu li.current > a, .wy-menu li.on a {
  background: #fff;
}
.wy-menu li.current > a button.toctree-expand, .wy-menu li.on a button.toctree-expand, .wy-menu li > a button.toctree-expand, .wy-menu li.on a button.toctree-expand {
  display: none;
}
.wy-menu a {
  font-size: 13px;
}
.wy-menu a:visited {
  color: var(--secondary-blue) !important;
}
.wy-menu li.toctree-l2 li.toctree-l3 a:hover, .wy-menu .toctree-l3 a:hover, .wy-menu li.current a:hover, .wy-menu a:hover {
  color: var(--blue);
  background-color: white;
}
.wy-menu li.current a {
  color: var(--blue);
}
.wy-menu ul {
  margin-left: 22px;
  border-left: 1px solid #c1d2e1;
}
.wy-menu li.current > a, .wy-menu li.on a, .wy-menu li.toctree-l2.current li.toctree-l3 > a, .wy-menu li.toctree-l2.current > a, .wy-menu li.toctree-l2 > a, .wy-menu li.toctree-l3.current li.toctree-l4 > a {
  padding: 10px;
}

/* sidebar end */
/* header */
.wy-side-nav-search img {
  background-color: transparent;
  position: relative;
  top: 0;
  left: -10px;
  margin: 0;
  height: auto;
  width: 150px;
  border-radius: 0;
  padding: 0;
}

.wy-side-nav-search > a:hover {
  background: transparent;
}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wy-side-nav-search > a {
  display: flex;
  margin-bottom: 0;
  font-size: 15px;
}

.wy-breadcrumbs,
.wy-breadcrumbs li a,
.wy-breadcrumbs-aside a {
  font-size: 11px;
}

.header {
  height: 30px;
  line-height: 30px;
}

/* header end */
/* footer */
.copyright p {
  font-size: 11px;
}

/* footer end */

/*# sourceMappingURL=general.css.map */
