$breakpoint-laptop: 1442px;
$breakpoint-width1250: 1250px;
$breakpoint-width1200: 1200px;
$breakpoint-landscape: 1024px;
$breakpoint-width900: 900px;
$breakpoint-portrait: 768px;
$breakpoint-mobile: 420px;
