:root {
    --blue: #005dab;
    --primary-blue: #063b67;
    --secondary-blue: #074e8a;
    --text-blue: #063b67;
    --light-blue: #EEF8FF;
    --light-blue-clear: #F8FCFF;
    --aqua: #51B3DB;
    --primary-orange: #FF7101;
    --light-orange: #FF8201;
    --grey: #F5F6F8;
    --grey-border: #D9E7F3;
    --light-grey-sidebar: #E5EAF0;
    --message-success: #4bb52d;
    --message-success-bg: #E3F6CF;
    --message-danger: #D10000;
    --message-danger-bg: #FAE5E8;
    --message-warning: #FF8E6E;
    --message-warning-bg: #FFF1ED;
    --message-info: #368EC4;
    --message-info-bg: #E7F2F8;
}
