h1,
h2,
h3,
h4,
span {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}
a.ahref-blue {
    text-decoration: underline;
}
a:visited {
    color: var(--secondary-blue)!important;

}
.main-content a:visited {
    color: var(--light-orange)!important;
}
.main-content a:hover {
    color: var(--hover-orange)!important;
    text-decoration: underline;
}
.wy-side-nav-search a:visited {
    color: white!important;
}

h1 {
    font-size: 48px;
    line-height: inherit;
    margin: 40px 0;
}

h2 {
    font-size: 32px;
    line-height: 1.2em;
    margin-top: 40px;
}
.wy-grid-for-nav {
    display: grid;
    grid-template-columns: 300px 900px 300px;
    justify-content: center;
    position: relative;
    margin-top: 80px;
}

.wy-nav-content-wrap {
    background: #fcfcfc;
}

.wy-nav-top {
    background: transparent;
    color: var(--primary-blue);
}
.wy-nav-side {
    position: sticky;
    top: 0;
    background: inherit;
}

.wy-nav-content {
    max-width: 1200px;
    padding: 20px;
    height: auto;

    &-wrap {
        margin-left: 0;
    }
}

.wy-side-scroll {
  height: auto;
}

.wy-side-nav-search {
    width: 100%;
    background-color: var(--primary-blue);
    padding: 0 185px;
    position: fixed;
    top: 0;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 50px;

    div {
        width: 300px;
    }
}

.wy-menu-vertical {
    height: calc(100vh - 60px);
    overflow-y: scroll;
    position: fixed;
    top: 110px;
    padding-bottom: 60px;
    padding-top: 5px;
}
.wy-menu-vertical p.caption {
    color: var(--primary-blue);
}

.wy-menu-vertical a {
    color: var(--text-blue);
}

.wy-menu-vertical li.current>a {
    color: var(--primary-orange);
}

.wy-menu-vertical li.toctree-l2 a,
.wy-menu-vertical li.toctree-l2.current>a {
    background: rgb(245, 245, 245);
}

.wy-menu-vertical li.toctree-l3 a,
.wy-menu-vertical li.toctree-l3.current>a {
    background: rgb(235, 235, 235);
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: rgb(230, 230, 230);
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
    background:rgb(220, 220, 220)
}

.rst-content {
    max-width: 900px;
    padding: 0 50px;
}

/* code blocks */
.rst-content section ul {
    line-height: auto;
}

code,
pre,
pre span,
span.pre,
.rst-content .linenodiv pre,
.rst-content div[class^=highlight] pre,
.rst-content pre.literal-block {
    font-family: 'Ubuntu Mono', monospace;
}

ul.simple li code,
code.docutils.literal.notranslate {
    border:none;
    width: max-content;
    font-size: 13px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    background: #292d3e;

    &.literal {
        color: var(--aqua);
    }
}
code.docutils.literal.notranslate {
    background: #efefef;
    padding: 2px 6px;

    &.literal {
        color: var(--blue);
    }
}

.rst-content div.notranslate {
    border: none;


    .highlight {
        font-family: 'Ubuntu Mono', monospace;
        font-size: 16px;
        padding: 10px;
        line-height: 24px;
        margin: 10px 0;
        border-radius: 8px;
        background-color: #292d3e;
        color: #D9E7F3;

        .c1 {
            color: var(--message-warning);
        }
        .mi,
        .o,
        .mf {
            color: #e4e4e4;
        }

        .s,
        .n,
        .nb,
        .na,
        .s1 {
            color: var(--aqua);
        }

        .s1 {
            color: var(--light-orange);
        }

        .k,
        .nv,
        .m,
        .vg,
        .p {
            color: #D9E7F3;
        }
    }
}
.rst-content div.highlight pre {
    font-size: 14px;
}

/* code blocks end */

/* buttons next previous */
    .btn,
    .btn-neutral {
        background: none;
        border: none;
        font-weight: 600;
        color: var(--primary-orange)!important;

        .fa {
            display: none;
        }

        &:visited {
            color: var(--primary-orange)!important;

        }
    }
/* buttons next previous end */

.rst-content p + ul {
    margin-top: -14px;
}

/* scrollbar */
.wy-menu {
    &::-webkit-scrollbar{
        width: 10px;
        background-color: var(--grey-border);
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: var(--primary-blue);
        border-radius: 5px;
        background-clip: content-box;
    }
    /* scrollbar end */

    /* sidebar */

    & li.toctree-l1.current>a {
        border-bottom: 0;
        border-top: 0;
    }


    & li.current,
    & li.toctree-l2,
    & li.toctree-l2 a,
    & li.toctree-l2.current,
    & li.toctree-l2.current li.toctree-l3,
    & li.toctree-l3.current li.toctree-l4,
    & li.toctree-l3.current li.toctree-l4 > a,
    & li.toctree-l2.current li.toctree-l3 > a {
        background: inherit;
    }


    & li.current > a,
    & li.toctree-l2.current a,
    & li.toctree-l3.current li.toctree-l4.current > a,
    & li.toctree-l2.current li.toctree-l3.current > a
    {
        background: #fff;
    }


    & li.current>a, & li.on a {
        background: #fff;
    }
    & li.current>a button.toctree-expand,
    & li.on a button.toctree-expand,
    & li>a button.toctree-expand,
    & li.on a button.toctree-expand{
        display: none;
    }
    & a {
        font-size: 13px;
    }
    & a:visited {
        color: var(--primary-blue)!important;
    }

    & li.toctree-l2 li.toctree-l3 a:hover,
    & .toctree-l3 a:hover,
    & li.current a:hover,
    & a:hover {
        color: var(--blue);
        background-color: white;
    }
    & li.current {
        & > a {
            color: var(--blue);
        }
    }


    & li.toctree-l2,
    & li.toctree-l3,
    & li.toctree-l4,
    & li.toctree-l5 {
        margin-left: 22px;
        border-left: 1px solid #c1d2e1;
    }

    & li.current>a,
    & li.on a,
    & li.toctree-l2.current li.toctree-l3>a,
    & li.toctree-l2.current>a,
    & li.toctree-l2>a,
    & li.toctree-l3.current li.toctree-l4>a {
        border-right: none;
        padding: 10px;
    }
    & li.current>a,
    & li.on a {
        padding-left: 20px;
    }


}

/* sidebar end */


/* aside */

.aside-support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;

    &__container {
        border-radius: 5px;
        border: 1px solid var(--grey-border);
        position: fixed;
        top: 150px;
        background-color: #fff;
        // box-shadow: 3px 3px 10px rgba(0,0,0,.10);
        width: 250px;
        height: 170px;
        padding: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
/* aside end */

/* breadcrumb */
.wy-side-nav-search img {
    background-color: transparent;
    position: relative;
    top:0;
    left:-10px;
    margin: 0;
    height: auto;
    width: 150px;
    border-radius: 0;
    padding: 0;

}
.wy-side-nav-search>a:hover {
    background: transparent;
}
.wy-side-nav-search input[type=text],
.wy-body-for-nav input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
    border: none;
    box-shadow: none;
}


.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wy-side-nav-search>a {
    display: flex;
    margin-bottom: 0;
    font-size: 15px;
}
.wy-breadcrumbs,
.wy-breadcrumbs li a,
.wy-breadcrumbs-aside a {
    font-size: 11px;
}
.wy-breadcrumbs li {
    padding-top: initial;
}
li.wy-breadcrumbs-aside a {
    padding: 10px;
}

.header {
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: fixed;
    top: 60px;
    border-bottom: 1px solid var(--grey-border);
    padding-left: 190px;
    z-index:2;
    background-color: white;
}

/* header end */

/* footer */
.edit {
    text-align: center;
}
.copyright p {
    font-size: 11px;
}
/* footer end */

@media screen and (max-width: 1450px) {
    .wy-grid-for-nav {
        display: grid;
        grid-template-columns: 300px 700px 200px;
        justify-content: center;
    }
}
/* ---------- LANDSCAPE  --------- */

@media screen and (max-width: 1200px) {
    .wy-grid-for-nav {
        grid-template-columns: 300px auto;
    }
    .aside-support {
        display: none;
    }
}

/* --------- LANDSCAPE END --------*/


/* ----------- PORTRAIT ----------- */

@media screen and (max-width: 1024px) {
    .wy-nav-top {
        display: block;
    }
    .wy-nav-side {
        width: 300px;
        position: fixed;
        left: -300px;
    }
    .wy-nav-side.shift {
        width: 300px;
    }
    .wy-grid-for-nav {
        display: block;
    }
    .wy-nav-content-wrap{
        margin-left: 0;
    }
    .wy-nav-content-wrap.shift {
        left: 0;
        margin-left: 300px;
    }
    .wy-menu.wy-menu-vertical, .wy-side-nav-search, .wy-side-scroll {
        width: auto;
    }
}


/* -------- PORTRAIT END ---------- */

/* ---------- MOBILE -------------- */

@media screen and (max-width: 768px) {
    .rst-content {
        padding: 0;
    }
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 22px;
    }

    .wy-menu {
        & a {
            font-size: 15px;
        }
    }
    p {
        font-size: 17px;
        line-height: 26px;
    }
}

/* ---------- MOBILE END -------------- */
